* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mainContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.mainContainer__header {
  padding: 20px 0;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.mainContainer__content {
  min-width: 100vw;
  min-height: 100vh;
  overflow: auto;
}
.home {
  position: relative;
}
.home section {
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}
.homeItem {
  display: flex;
  flex-direction: column;
  background-color: rgba(183, 226, 223, 0.12);
  border-radius: .4rem;
}
.homeItem__preview {
  width: 250px;
  height: auto;
}
.albumHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.album {
  display: flex;
  flex-wrap: wrap;
}
.table {
  display: flex;
  flex-direction: column;
}
.item {
  margin: 10px;
  margin-top: 30px;
}
.itemTable {
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
}
.album_tools {
  margin-top: 25px;
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.album_tools img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.toolIcon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.album__footer {
  margin: 100px 0;
}
video {
  width: 400px;
  height: 240px;
  margin: 10px;
}
.progressbar {
  height: 45px;
  background: rgb(197, 87, 87);
}
.preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
}
.preloader img {
  width: 400px;
  height: 400px;
}
.album img {
  width: 200;
  height: auto;
}
.backdrop {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgb(20, 11, 11, 0.5);
  cursor: default;
  backdrop-filter: blur(2px);
}
.editModal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  padding-top: 0;
  background: #fff;
  -webkit-box-shadow: 5px 4px 5px 0px #FFFFFF; 
box-shadow: 5px 4px 5px 0px #FFFFFF;
cursor: default;
}
.editModal__container {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.editModal__header {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid #000;
}
.desc {
  height: 70px;
  word-break: break-all;
}
input[type="text"] {
  white-space: normal;
  overflow: scroll;
}
input[type="file"] {
  display: none;
}
.editModal__thumbnail {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editModal__thumbnail__image {
  width: 300px;
  height: auto;
}
.editModal__removeThumbnail {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 3px;
  font-size: 45px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.6);;
  color: #000;
  cursor: pointer;
  border-radius: 4px;
}
.tags__input {
  width: 100%;
  position: relative;
}
.tags__input input {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  border: 0;
}
.tags__input img {
  position: absolute;
  top: 10px;
  right: 20px;
}
.tagsItem {
  margin: 0 15px;
  display: flex;
  align-items: center;
}
.tagsItem h4 {
  margin-right: 10px;
}
.tagsItem img {
  width: 10px;
  height: 10px;
}
.editModal__thumbnail span {
  white-space: pre-wrap;
  text-align: center;
}
.saveBtn {
  margin-right: 40px;
  background:rgba(121, 222, 59, 1);
  border: 0;
}
.cancelBtn {
  background: rgba(237, 133, 110, 1);
  border: 0;
}
.notDeleteBtn {
  background:rgba(15, 79, 173, 0.658);
}
.deleteBtn {
  background:rgba(44, 68, 104, 0.226);
  color: #000;
}
label {
  margin: 25px;
  cursor: pointer;
}
.modal__video {
  width: 750px;
  height: 400px;
}
